.home__hero {
  background-color: var(--hero-bg-color);
  min-height: 100%;
  overflow: hidden;
}

.home__hero .container {
  padding-top: 2em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.intro h1 {
  font-size: 2.8rem;
}

.intro p {
  font-size: 0.9rem;
  margin: 0;
}

.intro button {
  background-color: transparent;
  border: var(--main-font-color) 1px solid;
}

.intro button:hover {
  background-color: var(--main-font-color);
  color: white;
  font-weight: bold;
}

.intro a {
  color: inherit;
}

.hero-img-small {
  max-width: 270px;
  margin: 0 auto;
}

.hero-img-large {
  display: none;
}

.home__about {
  padding: 3em 0;
}

#home__about-variant .title {
  background-color: white;
  padding-bottom: 0;
}

#home__about-variant h2 {
  color: var(--secondary-font-color);
}

.home__projects {
  background-color: var(--hero-bg-color);
}

.home__projects .container {
  padding: 3em 0;
}

.home__projects .container > a {
  display: block;
  text-align: center;
  margin-top: 3em;
}

.home__blog {
  margin-top: 3em;
}

.home__blog .container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.home__blog h2 {
  color: var(--secondary-font-color);
}

.home__blog .underlined {
  margin: 0 auto;
}

@media (min-width: 750px) {
  .hero-img-small {
    display: none;
  }

  .hero-img-large {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
  }

  .home__hero .container {
    flex-direction: row;
    position: relative;
    height: 100%;
    margin-top: 3em;
    margin-bottom: 7em;
  }

  .intro,
  .intro .bio {
    margin-top: 2em;
  }

  .intro button {
    margin-top: 4em;
  }
}
