.home__hero {
  --hero-bg-color: #ffc60da4;
  background-color: var(--hero-bg-color);
  min-height: 100vh;
}

.home__hero .container {
  padding-top: 2em;
  padding-left: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.intro h1 {
  font-size: 3rem;
}

.intro p {
  font-size: 0.9rem;
  margin: 0;
}

.intro button {
  background-color: transparent;
  border: var(--main-font-color) 1px solid;
}

.intro button:hover {
  background-color: var(--main-font-color);
  color: white;
  font-weight: bold;
}

.intro a {
  color: inherit;
}

.hero-img-small {
  max-width: 270px;
  margin: 0 auto;
}

.hero-img-large {
  display: none;
}

@media (min-width: 750px) {
  .hero-img-small {
    display: none;
  }

  .hero-img-large {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
  }

  .home__hero .container {
    flex-direction: row;
    position: relative;
  }

  .intro,
  .intro .bio {
    margin-top: 2em;
  }

  .intro button {
    margin-top: 4em;
  }
}
