.post-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
  border-left: var(--left-border);
  padding-left: 1em;
}

.post-details h3 {
  margin: 0;
}

.post-tags {
  display: flex;
}

.post-tags ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.post-tags button:hover {
  transform: scale(1.1);
}

.post-tags button a {
  padding: 0.3em 0.5em;
}
