.post-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
  border-left: 2px solid #ccc;
  padding-left: 1em;
}

.post-details h3 {
  margin: 0;
}

.post-tags {
  display: flex;
}

.post-tags ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.post-tags button {
  font-size: 0.75em;
  padding: 0.3em 0.5em;
  margin-left: 0.8em;
  border: var(--main-font-color) 1px solid;
  transition: transform 0.3s;
}
.post-tags button:hover {
  transform: scale(1.1);
}
