.project {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project img {
  width: 100%;
  border: var(--main-font-color) 2px solid;
  border-radius: 0.5em;
}

.project__btns {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.project__btns button {
  border: 1px solid var(--main-font-color);
}

.project__btns.large-screen {
  display: none;
}

@media (min-width: 750px) {
  .project {
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
  }

  .project__btns.small-screen {
    display: none;
  }

  .project__btns.large-screen {
    display: flex;
  }

  .project__left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .project img {
    flex: 0 0 50%;
  }
}
